 {% extends 'base.html.twig' %}

{% block title %}Liste des Educateurs{% endblock %}
{% block body %}
   
      <!-- Table -->



        <div class="row mt-5">
        <div class="col ">
          <div class="card shadow">
            <div class="card-header border-0">
              <div class="row align-items-center">
                <div class="col">
                  <h3 class=" mb-0">Educateurs</h3>
                </div>
               
              </div>
            </div>
<div class="table-responsive">
        <table class="table align-items-center table-flush">
          <thead class="thead-light">
                  <tr>
                     <th className="all">
                    <div className="form-check">
                      <input type="checkbox" className="form-check-input" id="customCheck1" />
                      <label className="form-check-label" htmlFor="customCheck1"></label>
                    </div>
                  </th>
                    <th scope="col">Nom</th>
                    <th scope="col">Prénom</th>
                    <th scope="col">Email</th>
                    <th scope="col">Numero de licence</th>
                     <th scope="col">Status</th>
                     <th scope="col">Action</th>
          
                  </tr>
                </thead>
                <tbody>
                 {% for educateur in educateurs %}
                  <tr>
                   <td>
                <div className="form-check">
                  <input type="checkbox" className="form-check-input" id="customCheck1" />
                  <label className="form-check-label" htmlFor="customCheck1"></label>
                </div>
              </td>
                    <th scope="row">
                      <div class="media align-items-center">
                        
                        <div class="media-body">
                         
                          <span class="name mb-0 text-sm">{{ educateur.Nom }}</span>
                        </div>
                      </div>
                    </th>
                    <td>
                      <span class=" name mb-0 text-sm">{{ educateur.Prenom}}</span>
                    </td>
                    <td>
                   
                        <i class="bg-warning"></i> {{ educateur.Email }}
                 
                    </td>
                     <td>
                      
                        <i class="bg-warning"></i> {{ educateur.numLicence }}
                    
                    </td>
                  <td>
                      {% if educateur.isAdmin %}
                          <span class="badge badge-pill badge-success">Administrateur</span>
                      {% else %}
                          <span class="badge badge-pill badge-danger">Educateur</span>
                      {% endif %}
                  </td>

                  <td>
                      <form method="post" action="{{ path('changer_statut_educateur', {'id': educateur.id}) }}">
                          <button type="submit" class="btn btn-success btn-sm">Changer status</button>
                      </form>
                  </td>
                  </tr>

           
               {% endfor %}
                
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock %}

 
 
 
 
 
 
 
 
 
 
 
 