{% extends 'landing.html.twig' %}

{% block body %}

<div class="container mt--8 pb-5">
    <!-- Table -->
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8">
            <div class="card bg-secondary shadow border-0">

                <div class="card-body px-lg-5 py-lg-5">
                    <div class="text-center text-muted mb-4">
                        <strong>S'inscrire</strong>
                    </div>
                    <form method="post" >
                        {{ form_start(form, { 'attr': {'novalidate': 'novalidate'} }) }}

                        <div class="form-group">
                            <div class="input-group input-group-alternative mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                                </div>
                                {{ form_widget(form.Nom, {'attr': {'class': 'form-control'}, 'id': 'nom', 'name': 'nom'}) }}
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group input-group-alternative mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                                </div>
                                {{ form_widget(form.email, {'attr': {'class': 'form-control'}, 'id': 'email', 'name': 'email'}) }}
                            </div>
                        </div>

                         <div class="form-group">
                            <div class="input-group input-group-alternative mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                                </div>
                                {{ form_widget(form.photo, {'attr': {'class': 'form-control'}, 'id': 'email', 'name': 'email'}) }}
                            </div>
                        </div>
                        
                         <div class="form-group">
                            <div class="input-group input-group-alternative mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                                </div>
                                {{ form_widget(form.telephone, {'attr': {'class': 'form-control'}, 'id': 'email', 'name': 'email'}) }}
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="input-group input-group-alternative">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                                </div>
                                {{ form_widget(form.password.first, {'attr': {'class': 'form-control'}, 'id': 'password', 'name': 'password'}) }}
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group input-group-alternative">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                                </div>
                                {{ form_widget(form.password.second, {'attr': {'class': 'form-control'}, 'id': 'password_confirmation', 'name': 'password_confirmation'}) }}
                            </div>
                        </div>

                        <div class="row my-4">
                            <div class="col-12">
                                <div class="custom-control custom-control-alternative custom-checkbox">
                                    <input class="custom-control-input" id="customCheckRegister" type="checkbox" name="agree_terms">
                                    <label class="custom-control-label" for="customCheckRegister">
                                        <span class="text-muted">Je suis d'accord avec <a href="#!">la politique de confidentialité</a></span>
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="text-center">
                            <button type="submit" class="btn btn-primary mt-4">Créer un compte</button>
                        </div>
                        {{ form_end(form) }}
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
