{% extends 'base.html.twig' %}
{% block body %}
 
<div class="row justify-content-center">
        <div class="col">
       
          <div class="card bg-secondary shadow border-0">
           <div class="modal-header modal-colored-header text-bg-primary">
                    <h4 class="modal-title" id="compose-header-modalLabel">New Message</h4>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
        
            <div class="card-body px-lg-5 py-lg-5">
                             
                <form>
               {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

<div class="mb-2">
    <label for="msgto" class="form-label">À (Éducateurs)</label>
    {{ form_widget(form.Educateurs, {'attr': {'class': 'form-control', 'placeholder': 'Destinataire'}, 'multiple': true}) }}
</div>

<div class="mb-2">
    <label for="mailsubject" class="form-label" placeholder="Date d envoi" >Date Envoi</label>
    {{ form_widget(form.DateEnvoi, {'attr': {'class': 'form-control', 'placeholder': 'Date d envoi'}}) }}
</div>

<div class="mb-2">
    <label for="mailsubject" class="form-label"  placeholder=" Votre objet">Objet</label>
    {{ form_widget(form.objet, {'attr': {'class': 'form-control','placeholder': 'Votre objet'}}) }}
</div>

<div class="write-mdg-box mb-3">
    <label class="form-label">Message</label>
   
        {{ form_widget(form.message, {'attr': {'class': 'form-control', 'placeholder': 'Votre message'}}) }}
  
</div>

<div class="px-3 pb-3">
    
    {{ form_widget(form.Ajouter, {'attr': {'class': 'btn btn-primary mt-4'}}) }}
     {{ form_widget(form.Annuler, {'attr': {'class': 'btn btn-light mt-4'}}) }}
    
</div>

{{ form_end(form) }}


                </form>
              
               
        </div>
</div></div></div>


 
{% endblock %}