{% extends 'base.html.twig' %}

{% block title %}Liste des Catégories{% endblock %}
{% block body %}
   
      <!-- Table -->
<div class="row">
  <div class="col">
   <div class="card shadow">
  <div class="card-header border-0 d-flex justify-content-between align-items-center">
    <h3 class="mb-0">Catégories</h3>
    <a href="{{ path('addCategorie') }}" class="btn btn-warning"><i class="fas fa-plus-circle "></i> </a>
  </div>
  <div class="table-responsive">
   

        <table class="table align-items-center table-flush">
          <thead class="thead-light">
            <tr>
              <th className="all">
                <div className="form-check">
                  <input type="checkbox" className="form-check-input" id="customCheck1" />
                  <label className="form-check-label" htmlFor="customCheck1"></label>
                </div>
              </th>
              <th scope="col">Nom</th>
              <th scope="col">Code Racourci</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for categorie in categories %}
            <tr>
              <td>
                <div className="form-check">
                  <input type="checkbox" className="form-check-input" id="customCheck1" />
                  <label className="form-check-label" htmlFor="customCheck1"></label>
                </div>
              </td>
              <td scope="row">
                <div className="media align-items-center">
                  <div className="media-body">
                    <span className="mb-0 text-sm">{{ categorie.Nom }}</span>
                  </div>
                </div>
              </td>
              <td>
                {{ categorie.CodeRacourci }}
              </td>
              <td class="actions"> 
                <div class="">
                  <a href="{{ path('editCategorie', {'id': categorie.id}) }}" class="dropdown-item mr-1 "><i class="fas fa-edit"></i> </a>
                  <a href="{{ path('deleteCategorie', {'id': categorie.id}) }}" class="dropdown-item"><i class="fas fa-trash-alt"></i> </a>   
                </div>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>


















  
  </div>

    
    
    </div>

{% endblock %}
