

 {% extends 'base.html.twig' %}

{% block title %}Ajouter un e-mail{% endblock %}

{% block body %}
<div class="row justify-content-center">
        <div class="col">
       
          <div class="card bg-secondary shadow border-0">
           <div class="modal-header modal-colored-header text-bg-primary">
                    <h4 class="modal-title" id="compose-header-modalLabel">Nouveau email</h4>
                    
            </div>
        
            <div class="card-body px-lg-5 py-lg-5">
      
               {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

             
             
                <div class="mb-2">
                    <label for="educateurs" class="form-label">Licenciés</label>
                    {{ form_widget(form.licencies, {'attr': {'class': 'form-control'}}) }}
                </div>

                <div class="mb-2">
                    <label for="mailsubject" class="form-label"  placeholder=" Votre objet">Objet</label>
                    {{ form_widget(form.Objet, {'attr': {'class': 'form-control','placeholder': 'Votre objet'}}) }}
                </div>
                  <div class="mb-2">
                    <label for="mailsubject" class="form-label"  placeholder=" Votre objet">Date</label>
                    {{ form_widget(form.DateEnvoi, {'attr': {'class': 'form-control datepicker','placeholder': 'Votre date'}}) }}
                </div>

                <div class="write-mdg-box mb-3">
                    <label class="form-label">Message</label>
                
                        {{ form_widget(form.Message, {'attr': {'class': 'form-control', 'placeholder': 'Votre message', 'rows': 6}}) }}
                
                </div>
                 {# <div class="write-mdg-box mb-3">
                    <label class="form-label">Message</label>
                
                        {{ form_widget(form.DateEnvoi, {'attr': {'class': 'form-control', 'placeholder': 'Votre message'}}) }}
                
                </div> #}

                <div class="px-3 pb-3">
                    
                    {{ form_widget(form.Envoyer, {'attr': {'class': 'btn btn-primary mt-4'}}) }}
                   
                </div>

                {{ form_end(form) }}


              
               
        </div>
</div></div></div>
 {% block javascripts %}
    {{ parent() }}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script>
        $(function() {
            $('.datepicker').datepicker({
                dateFormat: 'yy-mm-dd'
            });
        });
    </script>
{% endblock %}
    
{% endblock %}
